@import "tailwindcss";

@layer base {
  body {
    background-color: #06202a;
    color: #d1d5db;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
