@import "tailwindcss";

@layer base {
  body {
    background-color: #06202a;
    color: #d1d5db;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #06202a;
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 4px; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}